
@media (min-width: 768px) {
.navbar {
    padding: 0px 40px;
}

.logo {
    font-size: 44px;
}

.logo svg {
    top: 8px;
}

.btn-login {
    width: 100px;
    font-size: 18px;
}
.hero-section {
    justify-content: left;
}

.hero-content {
    margin-left: 20px;
}

.hero-title {
    font-size: 50px;
    align-items: start;
}

}



@media (min-width: 992px) {
    .navbar {
    padding: 0px 60px;
}

.logo {
    font-size: 48px;
}

.logo svg {
    top: 10px;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu li a {
    font-size: 20px;
}

.btn-login {
    width: 120px;
    font-size: 20px;
}

.nav-toggle {
    display: none;
}

.hero-content {
    margin-left: 30px;
}

.hero-title {
font-size: 65px;
}

.hero-btns {
    flex-direction: row;
    gap: 80px;
}
.hero-text {
    width: 520px;
    font-size: 20px;
}

}

@media (min-width: 1200px) {
    .menu li a {
        font-size: 24px;
    }

    .btn-login {
    width: 144px;
    font-size: 24px;
}

.hero-title {
font-size: 72px;
}

.hero-text {
    width: 682px;
    font-size: 24px;
}

.hero-btns {
    gap: 100px;
}
}